@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="dropdown">
          <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            MANAGER
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button"><a class="nav-link text-dark" asp-area="" asp-controller="SanPhams" asp-action="Index">PRODUCT</a></button>
              <button class="dropdown-item" type="button"><a class="nav-link text-dark" asp-area="" asp-controller="BaiViets" asp-action="Index">BLOG</a></button>
              <button class="dropdown-item" type="button"><a class="nav-link text-dark" asp-area="" asp-controller="DanhGias" asp-action="Index">COMMENT</a></button>
              <button class="dropdown-item" type="button"><a class="nav-link text-dark" asp-area="" asp-controller="Bills" asp-action="Index">BILL</a></button>
          </div>
        </div>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
        }
        else
        {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">REGISTER</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">LOGIN</a>
        </li>
        }
</ul>
